
.status-perguntas {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.finalizacao {
    text-align: center;
    margin-bottom: 20px;
}

.finalizacao span {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.finalizacao p {
    margin-top: 20px;
}

/* bonus */
.footer-concluidos > .container-botoes{
    display:flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px;
}

.screen-container{
    background-color: #FB6B6B;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-container img{
    width: 136px;
}

.screen-container > h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 10px 0 30px 0;
}

.screen-container button{
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 246px;
    height: 54px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}
